* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#div1 {
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;
}

#div2 {
	padding: 20px;
	border: 2px solid black;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;
}

#span1 {
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2 {
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
	vertical-align: text-top;
}
