* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "open sans", "sans-serif";
}

nav {
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}

nav > ul {
	list-style: none;
}

nav li {
	margin: .5rem;
	display: inline-block;
	vertical-align: middle;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro > h2,
#intro > p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: weight;
	background-color: #c2395b;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

#info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > h2 {
	margin-bottom: 1rem;
}

#info > .card {
	border: 1px solid black;
	display: inline-block;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 150px;
}

#info h3 {
	margin-bottom: 1rem;
}

footer {
	padding: .8rem;
	text-align: center;
}

footer span {
	margin-left: .5rem;
	margin-right: .5rem;
}

#prefooter {
	background-color: rgb(37, 37, 77);
	color: white;
}

#prefooter > .prefoot {
	display: inline-block;
	width: 20%;
	margin: 1rem;
}

li {
	list-style: none;
	padding: 3px;
}
